/* general */
body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #EA6723;
}

.btn {
  text-transform: uppercase;
  font-family: Novecentosanswide-Medium;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #EA6723;
  color: #fff;
  background-color: #EA6723;
  border-radius: 46px;
}

.btn-default:hover {
  border: 1px solid #EA6723;
  background-color: #fff;
  color: #EA6723;
}

.heading {
  font-family: Novecentosanswide-Medium;
  text-transform: uppercase;
  font-size: 1em;
  color: #EA6723;
}

.space-heading {
  font-family: Novecentosanswide-Medium;
  font-size: 1.2em;
  color: #000;
}

.mailing {
  margin-top: 30px;
}

.mailing-heading {
  font-family: Novecentosanswide-Medium;
  font-size: 1em;
  color: #000;
}

section {
  width: 100%;
  height: auto;
  padding: 100px 0;
}

/* body */

/* navbar */
.nav > li > a {
  background-color: #fff;
}

.navbar-custom {
  font-family: Novecentosanswide-Medium;
  text-transform: uppercase;
  background-color: #fff;
  /*border-top: 1px solid #000;*/
  /*border-bottom: 1px solid #000;*/
}

.navbar-custom a {
  color: #000;
}

.logo {
  padding: 0;
}

.logo img {
  position: relative;
  top: -25px;
}

/* intro */
#intro {
  padding-top: 125px;
  padding-bottom: 0;
  color: #fff;
  background-color: #000;
}

.tagline {
  text-align: center;
}

.tagline .date {
  font-family: Novecentosanswide-Normal;
  line-height: 1em;
}

.led-menorah img {
  width: 100%;
}

.register-btn {
  padding-top: 25px;
}

.register-btn a {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33em;
}

.register-btn a:hover {
  border: 1px solid #000;
}

/* about */
#about {
  font-size: 1.2em;
}

.judge {
  margin-top: 20px;
}

.judge a img {
  width: 70%;
}

.judge h4 {
  width: 80%;
  margin: 10px auto;
}

/* sponsors */
#sponsors {
  background-color: #000; /* #EA6723; */
  color: #fff;
}

#sponsors h1 {
  color: #fff;
  padding-bottom: 10px;
}

.sponsor-logo {
  padding-top: 20px;
}

.sponsor-logo img {
  width: 80%;
  margin: auto;
}

#sponsors h3 {
  color: #fff;
  font-weight: 400;
  margin-top: 100px;
}

#sponsors h3 a {
  color: #EA6723;
  text-decoration: none;
}

#sponsors h3 a:hover {
  color: #428bca;
}

.community-partner {
  margin-top: 30px;
}

.community-partner img {
  width: 80%;
  margin: auto;
}

.community-partner h4 {
  color: #fff;
}

/* contact */
#contact {
  font-size: 1.2em;
}

.contact-list {
  padding-top: 25px;
}

.contact-list li {
  padding: 0 1.8em;
}

.contact-list a:hover {
  color: #000;
}

.contact-btn {
  color: #EA6723;
  font-size: 4em;
}

/* footer */
footer {
  background-color: #000;
  color: #eee;
  padding: 50px 0;
  font-size: 1.3em;
}

footer p {
  margin: 0;
}

.attribution {
  text-align: right;
  font-size: .75em;
}

.attribution a {
  color: #EA6723;
  text-decoration: none;
}

.attribution a:hover {
  color: #428bca;
}

/* tech page */
.cogs i {
  padding-top: 29px;
  color: rgba(255,255,255,0.3);
}

#tech {
  font-size: 1.2em;
}

.tagline .tech-heading {
  color: #EA6723;
}

.hardware-bg {
  background: #eee;
}

.hardware-bg2 {
  background: #e0e0e0;
}

.hardware h2 a {
  color: #EA6723;
  text-decoration: none;
}

.hardware h2 a:hover {
  color: #428bca;
}

/* jobs page */

.job-listing p {
  text-align: left;
  margin: 1em;
}

/* media queries */

@media (min-width: 1200px) {
  .navbar-custom {
    margin-top: 25px;
    padding: 10px 0;
  }

  .navbar-custom a {
    font-size: 1.1em;
  }

  .logo img {
    position: relative;
    top: -25px;
  }

  .tagline {
    padding-top: 60px;
    font-size: 30px;
  }

  .tagline .date {
    font-size: 85px;
    line-height: 1em;
  }

  .register-btn a {
    padding: 12px 20px;
    font-size: 20px;
  }

  #nycda-logo {
    margin-top: 83px;
  }

  #hue-logo {
    margin-top: 88px;
  }

  #thalmic-logo {
    margin-top: 72px;
  }

  #lifx-logo {
    margin-top: 70px;
  }

  #do-logo {
    margin-top: 96px;
  }

  #muse-logo {
    margin-top: 75px;
  }

  #kinect-logo {
    margin-top: 30px;
  }

  #keen-logo {
    margin-top: 50px;
  }

  #spark-logo {
    margin-top: 70px;
  }

  #meu-logo {
    margin-top: 71px;
  }

  #transloadit-logo {
    margin-top: 86px;
  }

  .cogs {
    font-size: 5em;
    height: 408px;
  }

  .cogs i {
    padding-top: 20px;
  }

  .tagline .tech-heading {
    font-size: 65px;
    line-height: 1.2em;
  }

  .hardware {
    height: 15em;
  }

  .job-listing {
    height: 28em;
  }

  .job-listing p {
    height: 14em;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-custom {
    margin-top: 25px;
    padding: 5px 0;
  }

  .navbar-custom a {
    font-size: 1em;
  }

  .logo img {
    position: relative;
    top: -20px;
    height: 60px;
  }

  .tagline {
    padding-top: 45px;
    font-size: 26px;
  }

  .tagline .date {
    font-size: 70px;
    line-height: .9em;
  }

  .register-btn a {
    padding: 10px 18px;
    font-size: 18px;
  }

  #nycda-logo {
    margin-top: 67px;
  }

  #hue-logo {
    margin-top: 72px;
  }

  #thalmic-logo {
    margin-top: 59px;
  }

  #lifx-logo {
    margin-top: 50px;
  }

  #do-logo {
    margin-top: 71px;
  }

  #muse-logo {
    margin-top: 54px;
  }

  #kinect-logo {
    margin-top: 25px;
  }

  #keen-logo {
    margin-top: 41px;
  }

  #spark-logo {
    margin-top: 50px;
  }

  #meu-logo {
    margin-top: 51px;
  }

  #transloadit-logo {
    margin-top: 63px;
  }

  .cogs {
    font-size: 4em;
    height: 335px;
  }

  .cogs i {
    padding-top: 15px;
  }

  .tagline .tech-heading {
    padding-top: 10px;
    font-size: 55px;
    line-height: 1.2em;
  }

  .hardware {
    height: 16em;
  }

  .job-listing {
    height: 34em;
  }

  .job-listing p {
    height: 19em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-custom {
    margin-top: 20px;
    padding: 0px 0;
    height: 40px;
  }

  .navbar-custom a {
    font-size: 0.9em;
  }

  .logo img {
    position: relative;
    top: -15px;
    height: 50px;
  }

  .tagline {
    padding-top: 10px;
    font-size: 19px;
  }

  .tagline .date {
    font-size: 60px;
    line-height: .9em;
  }

  .register-btn a {
    padding: 8px 13px;
    font-size: 16px;
  }

  .judge a img {
    width: 85%;
  }

  .judge h4 {
    width: 100%;
  }

  #nycda-logo {
    margin-top: 50px;
  }

  #hue-logo {
    margin-top: 54px;
  }

  #thalmic-logo {
    margin-top: 41px;
  }

  #lifx-logo {
    margin-top: 40px;
  }

  #do-logo {
    margin-top: 56px;
  }

  #muse-logo {
    margin-top: 43px;
  }

  #kinect-logo {
    margin-top: 15px;
  }

  #keen-logo {
    margin-top: 27px;
  }

  #spark-logo {
    margin-top: 40px;
  }

  #meu-logo {
    margin-top: 41px;
  }

  #transloadit-logo {
    margin-top: 50px;
  }

  .cogs {
    font-size: 3em;
    height: 255px;
  }

  .cogs i {
    padding-top: 10px;
  }

  .tagline .tech-heading {
    padding-top: 20px;
    font-size: 40px;
    line-height: 1.2em;
  }

  .hardware {
    height: 19em;
  }

  .job-listing {
    height: 43em;
  }

  .job-listing p {
    height: 27em;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    margin-top: 20px;
    padding: 0px 0;
    height: 40px;
  }

  .navbar-custom a {
    font-size: 0.9em;
  }

  .logo img {
    position: relative;
    top: -15px;
    left: 10px;
    height: 50px;
  }

  .navbar-toggle {
    margin: 5px 0;
    margin-right: 15px;
    padding: 8px 10px;
    /*color: #EA6723;*/
  }

  .navbar-collapse {
    border-top: 0px;
  }

  .navbar-collapse .nav {
    margin-top: 0;
  }

  .nav > li:first-child {
    border-top: 1px solid #000;
  }

  .nav > li:last-child {
    border-bottom: 1px solid #000;
  }

  .tagline {
    padding-top: 0px;
    font-size: 24px;
  }

  .tagline .date {
    font-size: 60px;
    line-height: .9em;
  }

  .register-btn a {
    padding: 10px 18px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .judge a img {
    width: 35%;
    margin-top: 20px;
  }

  .sponsor-logo img {
    width: 40%;
    padding-top: 20px;
  }

  #nycda-logo {
    margin: 15px 0;
  }

  #hue-logo {
    margin-top: 15px 0;
  }

  #thalmic-logo {
    margin: 15px 0;
  }

  #do-logo {
    margin: 15px 0;
  }

  #muse-logo {
    margin: 15px 0;
  }

  #kinect-logo {
    margin-top: 20px;
  }

  #keen-logo {
    margin-top: 20px;
  }

  #spark-logo {
    margin-top: 20px;
  }

  #meu-logo {
    margin-top: 20px;
  }

  #transloadit-logo {
    margin-top: 20px;
  }


  .community-partner img {
    width: 30%;
    margin: auto;
  }

  .contact-list li {
    padding: 0 1.3em;
  }

  .contact-btn {
    font-size: 3em;
  }

  .cogs {
    font-size: 2em;
    height: 200px;
  }

  .cogs i {
    padding-top: 29px;
  }

  .tagline .tech-heading {
    font-size: 40px;
    line-height: 1.1em;
  }

  .hardware {
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #fff;
    width: 60%;
    border: 1px solid #000;
  }

  .job-listing {
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #fff;
    width: 60%;
    border: 1px solid #000;
  }
}